{% if results %}
    <p class="text-center lead">
      Found {{ results|count }} nodes
    </p>
{% endif %}
{% if oldest_cache %}
    <p class="text-center">
      <button type="button" class="btn btn-info" onclick="
        reload_ajax('{{ url_for('ajax_search_refresh', query=query) }}')">
        Last updated {{ oldest_cache }}. Click here to refresh (slow!)
      </button>
    </p>
{% endif %}
<table class="table table-bordered">
  {% for result in results %}
      <tr{% if result[1] == nexus.GREEN %}
       class="success"
       {% elif result[1] == nexus.YELLOW %}
       class="warning"
       {% elif result[1] == nexus.RED %}
       class="danger"
       {% endif %}>
          <td><a href="{{ url_for('serve_status', node_id=result[0]) }}">{{ result[0] }}</a></td>
          <td>{% if result[1] == nexus.GREEN %}
          GREEN
          {% elif result[1] == nexus.YELLOW %}
          YELLOW
          {% elif result[1] == nexus.RED %}
          RED
          {% endif %}</td>
          <td>{{ result[2] }}</td>
      </tr>
  {% else %}
      <tr class="danger"><td>No Node ID found</td></tr>
  {% endfor %}
</table>
