{% if summary %}{{ summary }}{% endif %}

* {{ time }}
* {{ node_id }}
* [{{ node_health }}]

Previous state ({{ human_old_time }}):
> [{{ old_health }}] {{ old_time }}
{% if old_summary %}> {{ old_summary }}{% endif %}
